// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}
.mmwm-wrapper::selection, .mmwm-wrapper::-moz-selection {
  background-color: #333;
}

.mmwm-wrapper {
  background: url(/wp-content/uploads/2018/06/mushroom-boletus.jpg);
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  padding-top: 15px;
  padding-bottom: 15px;
}

.displayNone {
  display: none;
}

@media (min-width:768px) {
  #bodyContent {
    padding: 0;
  }
}



// helpers

.cta {
  a.a-cta {
    background: #ff8462;
    border: 1px solid #333;
    display: block;
    text-align: center;
    padding: 10px 15px;
    color: #fff;
    color: #333;
    transition: 300ms ease;
  }
  a.a-cta:hover {
    text-decoration: none;
    background: #ff6b42;
  }
  margin-bottom: 15px;
}

// HEADER

.main-menu {
  background: #fff;
  background: #f6eadd;
  background: rgba(246, 234, 221, 0.9);
  border: 1px solid #333;
  padding: 15px;

  .logo {
  }
  .copy {
    padding: 15px;
  }
  .links {
    display: flex;
    flex-direction: column;
    a {
      color:#333;
    }
  }

}

// music player

.music-player {
    border: 1px solid #333;
    // border-bottom: 0;
    margin-bottom: 15px;
    color: #fff;
    color: #ebdfd0;
    background: #333;
    background: rgba(51, 51, 51, 0.9);
    padding: 8px 15px;

    font-size: 10px;

    .icon-text {
      cursor: pointer;
    }

    .now-playing {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #eaddcf;
      a {
        color:#ebdfd0;
        // text-decoration: underline;
      }
    }
}

.page-container {
  background: rgba(246, 234, 221, 0.9);
  border: 1px solid #333;
  padding: 30px;
  max-height: 94vh;
  overflow-y: scroll;
  .content-container {
    // height: 800px;
    h1 {
      font-size: 14px;
      margin-bottom: 1rem;
    }
    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      background: #333;
      color: #ebdfd0;
      padding: 15px 15px;
    }
    h3 {
      font-size: 14px;
      background: #333;
      color: #e9ddce;
      padding: 15px;
      margin-top: 2rem;
      margin-bottom: 1rem;
      display: -webkit-inline-box;
      padding: 10px 15px;
    }
    a.linkOut {
      color:#333;
      text-decoration: underline;
    }
    p {
      margin-bottom: 1rem;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

// PAGE TEMPLATE

.page-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Track */
.page-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.page-container::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.page-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// TICKETS PAGE

main#tribe-events-pg-template {
    background: rgba(246,234,221,.9);
    border: 1px solid #333;
    padding: 30px;
    max-height: 94vh;
    overflow-y: scroll;

    h1 {
      font-size: 14px !important;
      margin-bottom: 1rem !important;
      margin-top:0 !important;
    }
    h2 {
      font-size: 1.5rem !important;
      margin-bottom: 1rem !important;
      background: #333 !important;
      color: #ebdfd0 !important;
      padding: 15px 15px !important;
      margin-top:0 !important;
      line-height: 1.2 !important;
    }
}

.tribe-events-single-section.tribe-events-event-meta.primary.tribe-clearfix {
    display: none;
}

.tribe-events-cal-links {
    display: none !important;
}

.tribe-events-single-section.tribe-events-event-meta.secondary.tribe-clearfix {
    display: none;
}

div#tribe-events-content {
    margin: 0 !important;
}
td.tpp-add {
    display: none;
}
div#tribe-events-footer {
    display: none;
}
p.tribe-events-back {
    display: none;
}
h1.tribe-events-single-event-title {
    display: none;
}
.tribe-events-schedule.tribe-clearfix {
    display: none !important;
}
h2.tribe-events-tickets-title.tribe--tpp {
    display: none;
}
.tribe-events-tickets {
    background: none !important;
}
.tribe-events-tickets td {
    padding: 0 !important;
    border-bottom: none !important;
}
button.tpp-submit.tribe-button {
    background: #ff8461 !important;
    border: 1px solid #333 !important;
    border-radius: 0 !important;
}
.tribe-events-tickets-tpp .tribe-ticket.quantity {
    width: 150px !important;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
}

@media (max-width:767px) {
  .row.menu-row {
    flex-direction: column-reverse;
  }
  main#tribe-events-pg-template {
    margin-bottom: 1rem !important;
  }
  .page-container {
    max-height: none !important;
    overflow-y: auto !important;
    margin-bottom: 1rem;
  }
}
@media (min-width:767px) {
  .mobile {
    display: none;
  }
}
